/* Global Styles */
/*html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
  width: 100%; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}*/

/* App container styling */
.App {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure the app takes full screen */
}

/* Logo Styling */
.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

/* Header Styling */
.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
  flex-shrink: 0; /* Prevents header from shrinking */
  width: 100%; /* Ensures header takes full width */
  /* Center the content in the header */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

/* App link styling */
.App-link {
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
}

/* Main content area */
.App-content {
  flex-grow: 1; /* Takes up the remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4faff; /* Example background color */
  padding: 20px;
  /* Add any content-specific styles here */
}

/* Footer Styling */
.App-footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  text-align: center;
  flex-shrink: 0; /* Prevents footer from shrinking */
  width: 100%; /* Ensures footer takes full width */
}

/* Keyframe for logo animation */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media query for reduced motion */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
